@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import 'variables';

:root {
  --background-color: #{$bg-color};
  --text-color: #{$txt-color};
  --accent-color: #{$accent-color};
  --link-color: #{$link-color};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $martel;
}

@layer base {
  a:link,
  a:visited {
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }
  }
  
  h1, h2, h3 {
    font-family: $playfair_display;
  }
  
  h1 span, h2 span, h3 {
    color: var(--accent-color);
  }

  /** Mobile Nav **/
  .logo a {
    color: $txt-color;

    &:hover {
      text-decoration: none;
    }
  }

  svg {
    &.overlay {
      right: 1rem;
      position: absolute;
      top: 1.125rem;
      z-index: 12;
  
      @media (min-width: $md) {
        position: static;
      }
    }
  }

  /** Mobile Nav **/
  .mobile-menu {
    background-color: $accent-color;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 10;

    @media (min-width: $md) {
      background-color: transparent;
      height: 100%;
      left: auto;
      right: 4rem;
      width: 50vw;
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      justify-content: center;

      @media (min-width: $md) {
        flex-direction: row;
        gap: 4rem;
        justify-content: flex-end;
        padding-right: 2rem;
      }

      li {
        padding: 0;
        text-align: center;
  
        a {
          color: $txt-color;
          display: block;
          font-size: 1.5rem;
          font-weight: 700;
          width: 100%;
        }
      }
    }
  }

  /** Browse My Work **/
  .next-page {
    align-self: center;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: auto;

    .browse {
      color: $txt-color;

      &:hover {
        text-decoration: none;
      }
      
      @media (min-width: $md) {
        font-size: 2.25rem;
      }
    }

    .line-down {
      border-right: 1px solid var(--text-color);
      display: block;
      height: 6.25rem;
      margin: 0 auto;
      width: 1px;
    }
  }
}

/** Home Animation **/
.circle-fill {
  background: var(--accent-color);
  border-radius: 50%;
  height: 52.3125rem;
  right: -28rem;
  top: -32rem;
  width: 52.3125rem;
}

.circle-outline {
  background: transparent;
  border: 8px solid var(--text-color);
  border-radius: 50%;
  height: 58.25rem;
  right: -28rem;
  top: -48rem;
  width: 60.4375rem;
}