@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$bg-color: #1F1300;
$txt-color: #FFE8C2;
$link-color: #73956F;
$accent-color: #D5775D;

$martel: "Martel", serif;
$playfair_display: "Playfair Display", serif;